<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>SmartIIC</display-name>

	<servlet>
		<servlet-name>FrontendServlet</servlet-name>
		<servlet-class>com.ibm.iic.FrontendServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>StartServlet</servlet-name>
		<servlet-class>com.ibm.iic.StartServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>WorkerServlet</servlet-name>
		<servlet-class>com.ibm.iic.WorkerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FrontendServlet</servlet-name>
		<url-pattern>/FrontendServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StartServlet</servlet-name>
		<url-pattern>/StartServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WorkerServlet</servlet-name>
		<url-pattern>/WorkerServlet</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>